<h2 mat-dialog-title>Añadir Material</h2>
<mat-dialog-content>
  <form class="w-100" [formGroup]="form">
    <div class="container w-100">
      <div class="row w-100">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo">
              <mat-option value="Botella">Botella</mat-option>
              <mat-option value="Gafas">Gafas</mat-option>
              <mat-option value="Escarpines">Escarpines</mat-option>
              <mat-option value="Aletas">Aletas</mat-option>
              <mat-option value="Guantes">Guantes</mat-option>
              <mat-option value="Traje">Traje</mat-option>
              <mat-option value="Jacket">Jacket</mat-option>
              <mat-option value="Regulador">Regulador</mat-option>
              <mat-option value="Plomos">Plomos</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Marca</mat-label>
            <input matInput formControlName="marca" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row w-100">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Talla</mat-label>
            <input matInput formControlName="talla_capacidad" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Descripcion</mat-label>
            <input matInput formControlName="descripcion" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row w-100">
        <div class="col">
          <mat-form-field appearance="outline" disabled="true">
            <mat-label>Fecha de Revision</mat-label>
            <input matInput formControlName="fecha">
          </mat-form-field>
        </div>
      </div>
    <div class="row w-100">
      <div class="col mb-2">
        <button class="w-100" (click)="openDialogImagen('1')" mat-stroked-button>Foto 1</button>
      </div>
      <div class="col mb-2">
        <button class="w-100" (click)="openDialogImagen('2')" mat-stroked-button>Foto 2</button>
      </div>
      <div class="col mb-2">
        <button class="w-100" (click)="openDialogImagen('3')" mat-stroked-button>Foto 3</button>
      </div>
    </div>
    <div class="row w-100" style="text-align: center">
      <div class="col mt-3">
        <button class="w-100" style="max-width: 250px" mat-stroked-button>Pasar Revision</button>
      </div>
    </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-stroked-button mat-dialog-close>Cancelar</button>
  <button mat-stroked-button (click)="guardar(form)">Guardar</button>
</mat-dialog-actions>
