h2{
  text-align: center;
  background-color: #37474F;
  color: white;
  box-shadow: 0 5px 5px -2px grey;
  position: sticky;
  top: 0;
  z-index: 1;
}
::ng-deep .mat-dialog-container{
  padding: 0!important;
}

mat-form-field{
  width: 100%;
}

.row{
  margin: 0 !important;
}

::ng-deep .mat-dialog-content {
  margin: 0 !important;
}


mat-dialog-actions{
  margin: 0 !important;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background: white;
}

