:host{display: contents; }

mat-toolbar{
  height: 7%;
  background-color: #37474F;
}
mat-toolbar span{
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.cuerpo{
  margin: 1%;
  position: fixed;
  height: 80%;
  width: 98%;
  top: 7%;
  overflow: scroll;
}

th{
  background-color: #37474F;
  color: white;
  text-align: center  !important;
  padding:0 10px 0 10px !important;

}
tr{
  text-align: center;
}
td{
  padding:0 10px 0 10px !important;
  white-space: nowrap;
}
.anadir{
  position: absolute;
  bottom: 12%;
  right: 2%;
}



