<mat-toolbar class="mat-elevation-z1">
  <span>Info</span>
</mat-toolbar>

<div class="cuerpo">
<mat-accordion class="acordeon">
  <ng-container *ngFor="let tipo of tipoDocs"> <!--esta mal redactado-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{tipo.nombre}}</mat-panel-title>
      <mat-panel-description>{{tipo.descripcion}}</mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let doc of docs">
    <div *ngIf="tipo.nombre==doc.tipo">
    <div class="documento" matRipple [matRippleColor]="color"  (click)="verDocumento(doc)">{{doc.nombre}} </div>
    <mat-icon class="eleminarDocumento" *ngIf="socioActual.cargo!='Socio'" (click)="dltDoc(doc)">delete</mat-icon>
    </div>
    </ng-container>
  </mat-expansion-panel>
  </ng-container>
</mat-accordion>
<mat-expansion-panel class="mt-1 mat-elevation-z2" >
    <mat-expansion-panel-header>
      Subir documento
    </mat-expansion-panel-header>
    <form class="w-100" [formGroup]="form">
      <div class="row w-100">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Nombre documento</mat-label>
            <input matInput formControlName="nombre" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="tipo">
              <mat-option *ngFor="let item of tipoDocs" [value]="item.nombre">{{item.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Elegir documento</mat-label>
            <ngx-mat-file-input formControlName="file"
                                [accept]="'.pdf'"
                                required></ngx-mat-file-input>
            <mat-icon matSuffix>file_open</mat-icon>
            <mat-error *ngIf="form.get('file')?.hasError('maxContentSize')">
              El tamaño maximo no debe exceder {{form.get('file')?.getError('maxContentSize').maxSize | byteFormat}} ({{form.get('file')?.getError('maxContentSize').actualSize
              | byteFormat}}).
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <button mat-stroked-button (click)="guardarDocumento(form)">Subir
      <mat-icon>upload</mat-icon>
    </button>
  </mat-expansion-panel>

</div>
